path {
    cursor: pointer;
    stroke: rgba(0, 0, 0, 0.5);
    'stroke-width': 1;
}

#map_container {
    position: fixed;
    width: 100%;
    margin-left:-30%;
    z-index:-5;
}

#story {
    background-color: rgba(200, 200, 200, 0.5);
}

#story div {
    min-height: 1000px;
}
