#banner {
    width: 800px;
    height: 100px;
    background-color: coral;
}

#content {
    width: 600px;
    background-color:azure;
    float:left;
}

#footer {
    width: 800px;
    height: 50px;
    background-color:darkgoldenrod;
    float:left;
}

#supporting {
    width: 100px;
    height: 150px;
    background-color:aliceblue;
    float:left;
}

#nav {
    width: 100px;
    background-color:yellow;
    float:left;
}
